body, html{
	padding: 0;
	margin: 0;
}
body{
	position: relative;
	font-family: "Open Sans", sans-serif;
	color: #333;
}
.body{
	position: relative;
	width: 100%;
	filter: blur(0px);
}
.shade{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0;
	z-index: 0;
	transition: opacity 750ms ease, z-index 0ms 750ms;
}
.loading-icon{
	position: fixed;
	width: 32px;
	height: 32px;
	animation: rainbow 1s ease infinite, rotate .5s ease infinite;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
	display: none;
}
.loading-icon.visible{
	display: block;
}
.shade-active{
	opacity: .8;
	z-index: 1;
	transition: opacity 750ms ease, z-index 0ms 0ms;
}
.zoom-wrapper{
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	bottom: 0;
	z-index: 2;
	background: transparent;
	transition: all 750ms ease;
	overflow-y: scroll;
	visibility: hidden;
}
.zoom-wrapper.visible{
	visibility: visible;
}
.zoom-wrapper .close{
	position: absolute;
	display: inline-block;
	top: 0;
	right: 1rem;
	color: white;
	font-size: 2rem;
	cursor: pointer;
}
.zoom-wrapper-slided{
	left: 0%;
}
.zoom-content{
	position: relative;
	max-width: 960px;
	margin: 70px auto;
	background-color: #f2f2f2;
	z-index: 3;
	padding: 20px;
}
.zoom-content .img-wrapper{
	padding: 10px;
	background-color: #eeece0;
	box-shadow: 0px 0px 2px #555;
}
.zoom-content .img-wrapper img{
	cursor: pointer;
	width: 100%;
}
.zoom-content .img-wrapper h2{
	color: #555;
	padding: 1rem 1rem;
}
.zoom-content #disqus_thread{
	margin-top: 70px;
}
.header{
	position: relative;
	width: 100%;
	height: 600px;
	background: url('/imgs/assets/bg.jpg');
	background-position: center;
	background-size: cover;
	overflow: hidden;
}
.title{
	position: absolute;
	width: 100%;
	height: 150px;
	top: 20%;
	background: url('/imgs/assets/hoang.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.hoang{
	position: relative;
	top: 350px;
	max-width: 960px;
	height: 385px;
	margin: 0 auto;
	background: url('/imgs/assets/subject.png');
	background-repeat: no-repeat;
	background-position: right;
}
.grid{
	max-width: 1200px;
	margin: 0px auto;
	padding: 50px 0;
}
.grid-sizer{
	width: 20%;
}
.grid-item{
	position: relative;
	width: 20%;
	height: 240px;
	font-size: 0;
	padding: 5px;
	box-sizing: border-box;
	transform: translateY(200px);
	opacity: 0;
	transition: all 400ms ease;
}
.shown{
	transform: translateY(0px);
	opacity: 1;
}
.grid-item img{
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
	transition: all 250ms ease;
	cursor: pointer;
}
.grid-item img:hover{
	-webkit-filter: brightness(80%);
	filter: brightness(80%);
}
.widthx2{
	width: 40%;
}
.widthx3{
	width: 60%;
}
.widthx4{
	width: 80%;
}
.widthx5{
	width: 100%;
}
.heightx2{
	height: 480px;
}
@media (max-width: 1200px){
	.grid{
		max-width: 960px;
	}
	.grid-item{
		height: 192px;
	}
	.heightx2{
		height: 384px;
	}
}
@media (max-width: 960px){
	.grid{
		max-width: 720px;
	}
	.grid-item{
		height: 144px;
	}
	.heightx2{
		height: 288px;
	}
}
@media (max-width: 720px){
	.grid{
		max-width: 100%;
	}
	.grid-sizer{
		width: 100%;
	}
	.grid-item{
		width: 100%;
		height: 400px;
		padding: 5px 10px
	}
	.heightx2{
		height: 400px;
	}
	.widthx2{
		width: 100%;
	}
	.widthx3{
		width: 100%;
	}
	.widthx4{
		width: 100%;
	}
	.widthx5{
		width: 100%;
	}
	.zoom-content .img-wrapper h2{
		font-size: 1rem;
	}
}
@media (max-width: 500px){
	.grid-item{
		height: 250px;
	}
	.heightx2{
		height: 250px;
	}
}
@keyframes rainbow{
	0%{background-color: #ee4035}
	20%{background-color: #f37736;}
	40%{background-color: #fdf498;}
	60%{background-color: #7bc043;}
	80%{background-coor: #0392cf;}
	100%{background-color: #ee4035;}
}
@keyframes rotate{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(90deg);}
}

































